.cards {
  padding: 80px 70px 0 70px;
  display: flex;
  flex-direction: column;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-template-rows: repeat(auto-fit, 319px);
  gap: 32px 28px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  box-sizing: border-box;
  min-height: 479px;
}

.cards__button-container {
  height: 70px;
}

.cards__button {
  margin-top: 50px;
  margin-bottom: 80px;
  height: 36px;
  border-radius: 6px;
  background: var(--color-btn-dark);
  color: var(--color-white);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 125%;
  border: none;
}


@media (max-width: 890px) {
  .cards{
    padding: 80px 30px 0 30px;
  }

  .cards__container {
    grid-template-columns: repeat(auto-fit, 342px);
    grid-template-rows: repeat(auto-fit, 309px);
    gap: 35px 24px;
    padding-bottom: 30px;
  }

  .cards__button-container {
    height: 140px;
  }
}

@media (max-width: 400px) {
  .cards{
    padding: 50px 10px 0 10px;
  }

  .cards__container {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 271px);
    row-gap: 16px;
  }

  .cards__button {
    margin-top: 50px;
  }
}
