.cards {
  padding: 80px 70px;
  display: flex;
  flex-direction: column;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-template-rows: repeat(auto-fit, 319px);
  gap: 32px 28px;
  justify-content: center;
  align-items: center;
}

.cards__button {
  margin-top: 60px;
  height: 36px;
  border-radius: 6px;
  background: var(--color-btn-dark);
  color: var(--color-white);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 125%;
  border: none;
  transition: 0.7s ease;
}

.cards__button:hover {
  background: var(--color-green);
  color: var(--color-black);
}

@media (max-width: 890px) {
  .cards{
    padding: 80px 30px;
  }

  .cards__container {
    grid-template-columns: repeat(auto-fit, 342px);
    grid-template-rows: repeat(auto-fit, 309px);
    gap: 35px 24px;
  }
}

@media (max-width: 400px) {
  .cards{
    padding: 50px 10px 80px 10px;
  }

  .cards__container {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 271px);
    row-gap: 16px;
  }

  .cards__button {
    margin-top: 50px;
  }
}
