.header {
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  position: relative;
}

.header_color_dark {
  background-color: var(--color-background-dark);
}

.header_color_blue{
  background: var(--color-dark-blue);
}

.nav__menu-icon {
  display: none;
  position: absolute;
  right: 30px;
  z-index: 20;
}

.nav__menu-icon_type_close {
  position: fixed;
  right: 22.44px;
  top: 22.44px;
}

@media (max-width: 870px) {
  .header {
    padding: 0 30px;
  }

  .nav__menu-icon {
    display: block;
  }
}

@media (max-width: 450px) {
  .header {
    padding: 0 14px;
  }

  .nav__menu-icon {
    right: 14px;
    width: 37px;
    height: 42px;
  }

  .nav__menu-icon_type_close {
    position: fixed;
    right: 14px;
    top: 14px;
    width: 29px;
    height: 29px;
  }
}
