.aboutProject {
  display: flex;
  flex-direction: column;
  padding: 110px 70px 110px 70px
}

.aboutProject__title {
  margin-bottom: 23px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.aboutProject__container {
  border-top: 1px solid #424242;
  padding: 70px 0 109px 0;
  display: flex;
  flex-direction: row;
}

.aboutProject__info:not(:last-child) {
  margin-right: 51px;
}

.aboutProject__info-title {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin-bottom: 26px;
}

.aboutProject__info-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 142.857%;
}

.aboutProject__timeline-container {
  display: flex;
  flex-direction: row;
}

.aboutProject__timeline_type_backend {
  width: 20%
}

.aboutProject__timeline_type_other {
  width: 80%
}

.aboutProject__timeline-title {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  /* max-width: 228px; */
  /* width: 0.2%; */
  width: 100%;
  background: #3ddc84;
  text-align: center;
  padding: 9.5px 0;
  max-height: 36px;
}

.aboutProject__timeline-title_type_dark {
  /* max-width: 912px; */
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background: #303030;
}

.aboutProject__timeline-text {
  margin-top: 14px;
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 121.429%;
}

@media (max-width: 870px) {
  .aboutProject {
    padding: 90px 50px 90px 50px;
  }

  .aboutProject__container {
    padding-bottom: 92px;
  }

  .aboutProject__info:not(:last-child) {
    margin-right: 36px;
  }

  .aboutProject__info-title {
    margin-bottom: 22px;
  }

  .aboutProject__info-text {
    font-size: 12px;
    line-height: 150%;
  }
}

@media (max-width: 550px) {
  .aboutProject {
    padding: 69px 18px 69px 18px;
  }

  .aboutProject__title {
    margin-bottom: 28px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .aboutProject__container {
    padding: 61px 0 59px 0;
    flex-direction: column;
  }

  .aboutProject__info:not(:last-child) {
    margin: 0 0 56px 0;
  }

  .aboutProject__info-title {
    margin-bottom: 17px;
    font-size: 18px;
  }

  .aboutProject__info-text {
    font-size: 11px;
    line-height: 145.455%;
  }

  .aboutProject__timeline-title {
    font-size: 11px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .aboutProject__timeline-text {
    margin-top: 10px;
    font-size: 11px;
    font-weight: 500;
    line-height: 118.18%;
  }
}

@media (max-width: 320px) {
  .aboutProject__timeline_type_backend {
    width: 35.22%
  }

  .aboutProject__timeline_type_other {
    width: 64.78%;
  }
}
