.footer {
  display: flex;
  flex-direction: column;
}

.footer__text {
  color: #8b8b8b;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 79px 0 20px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: 1px solid #424242;
}
.footer__copyright {
  padding: 20px 0;
}

.footer__links {
  display: flex;
  align-items: center;
}

.footer__link:not(:last-child) {
  margin-right: 20px;
}
