@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, li {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.root {
  min-height: 100vh;
  background: #202020;

}

.page {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #FFF;;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100vh;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding:  0 70px;
  outline: 2px green dashed;
}

@media (max-width:768px) {
  .container {
    padding:  0 30px;
  }
}

@media (max-width:380px) {
  .container {
    padding:  0 14px;
  }
}
