.aboutMe {
  display: flex;
  flex-direction: column;
  padding: 110px 0 102px 0;
}

.aboutMe__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin-bottom: 23px;
}

.aboutMe__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #424242;
  padding-top: 66px;
}

.aboutMe__info {
  max-width: 600px;
}

.aboutMe__info-name {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -2px;
  margin-bottom: 18px;
}

.aboutMe__info-job {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 111.111%;
  margin-bottom: 26px;
}
.aboutMe__info-about {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 157.143%;
}

.aboutMe__links{
  margin-top: 99px;
  display: flex;
}

.aboutMe__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 20px;
}

.aboutMe__photo {
  border-radius: 10px;
}
